html, body{
    margin: 0;
    padding: 0;
}

body {
    background-color: cyan;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.header-banner {
    background-color: black;
    color: rgb(71, 71, 199);
    padding: 10px;
    box-shadow: 1px 1px 10px 1px rgb(34, 1, 34);
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-img {
   width: 53%;
   max-width: 300px;
}

.body-joke-area {
    width: 92%;
    background-color: rgb(23, 218, 218);
    padding: 10px;
    margin: 0px 10px;
    border: 1px black solid;
    border-radius: 3px;
    overflow-y: scroll;
    max-height: 100px;
}

.body-button-wrapper {
    margin-top: 51px;
}

.body-joke-button {
    width: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 0.5px 0.5px black;
}

.body-radio-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}